@import '../../../../src/light-theme.scss';

.page-link {
  cursor: pointer;
}

.pkmn-link {
  cursor: pointer;
  text-decoration: none;
}

.left-panel-loading {
  margin-top: 50%;
}
.nopadding {
  padding: 0.075rem 0rem;
}
.my-table-width {
  min-width: 142px; //214px;
}
.my-gen-width {
  max-width: 8rem;
}
