nav {
  padding: 0;
  height: 20px;
}

.navbar-links {
  cursor: pointer;
  /*text-decoration: none;*/
  text-decoration-line: none;
}

.search-input {
  border: none;
  max-width: 12rem;

  &:focus {
    outline: none;
    border: none;
  }
}

.search-icon {
  border: none;
}
