@import '../../../colors';

.attribute-block {
  border-radius: 5px;
}

.attribute-title {
  border-radius: 5px;
}

.hp {
  color: black;
  background-color: LightYellow;
}

.atk {
  color: black;
  background-color: PapayaWhip;
}

.def {
  color: black;
  background-color: LightYellow;
}

.atksp {
  color: black;
  background-color: PapayaWhip;
}

.defsp {
  color: black;
  background-color: LightYellow;
}

.vit {
  color: black;
  background-color: PapayaWhip;
}
.my-width {
  max-width: 670px !important;
}
