@import '../../../colors';

.attribute-block {
  border: 1px solid $dark;
  border-radius: 5px;
}

.attribute-title {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.hp {
  color: black;
  background-color: LightYellow;
}

.atk {
  color: black;
  background-color: PapayaWhip;
}

.def {
  color: black;
  background-color: LightYellow;
}

.atksp {
  color: black;
  background-color: PapayaWhip;
}

.defsp {
  color: black;
  background-color: LightYellow;
}

.vit {
  color: black;
  background-color: PapayaWhip;
}
.my-width {
  max-width: 670px !important;
}
.my-stats-width {
  max-width: 230px;
}
.my-pic {
  height: 130px;
}
#cliff {
  width: 300px;
  height: auto;
}
