@import '../../colors';

.text-darker {
  color: $darker;
}

.text-mydark {
  color: $dark;
}

.help-block {
  max-width: 490px;
  span {
    color: $darker;
  }
  /*
    border: 1px solid $dark;
    border-radius: 30px;*/
}
#my-scrol {
  overflow-y: auto;
}
