$white: hsl(42, 100%, 96%);
$red: #eb3d3d;

$lightgrey: rgb(255, 217, 172); /*e1e1e1;*/
$cyan: hsl(9, 100%, 54%);

$grey: #999999;
$dark: brown; /*333333;*/
$darker: rgb(126, 0, 0);
$orange: #ffa700;
