$white: hsl(42, 100%, 96%);
$red: #eb3d3d;

// Light theme related
$lightgrey: rgb(255, 217, 172); /*e1e1e1;*/
$cyan: Chocolate;

// Dark theme related
$grey: #999999;
$dark: brown; /*333333;*/
$orange: #ffa700;
