@import '../src/colors';

.dark-theme {
  background-color: $dark;
  color: $white;

  div,
  nav {
    background-color: $dark;
  }

  input {
    background-color: $dark;
    color: $white;
  }

  p,
  span,
  td,
  th {
    color: $white;
  }

  .pagination-span:hover,
  .pagination-span a:hover {
    color: $dark !important;
  }

  a {
    color: $white;
    &:hover {
      color: $orange;
    }
  }

  .reverse-theme {
    background-color: $white;
    color: $dark;
  }

  .attribute-block {
    border: 1px solid $white;
  }

  #navbar {
    border-bottom: 2px solid $white;
  }

  #navbar .search-input {
    border-bottom: 2px solid $orange;
  }

  #navbar .search-icon {
    border-bottom: 2px solid $orange;
  }

  // Bootstrap related
  .input-group-text {
    background-color: $dark;
    color: $white;
  }

  .page-link {
    background-color: $dark;
    color: $white;
    &:hover {
      color: $dark;
      background-color: $white;
    }
  }

  .disabled-page-link {
    color: $grey;
    &:hover {
      cursor: not-allowed;
      color: $grey;
      background-color: $dark;
    }
  }

  .active-page-link {
    background-color: $white;
    color: $dark;
  }

  // Scrollbar
  .scrollar {
    scrollbar-color: $dark $white;
    scrollbar-width: thin;
  }

  // Blocks designs

  .top-bar-block {
    background-color: $white;
    border-radius: 8px;
    div {
      background-color: $white;
    }
    span {
      color: $dark;
    }
  }

  .welcome-block {
    background-color: $white;
    border-radius: 30px;
    div {
      background-color: $white;
      span,
      h1 {
        color: $dark;
      }
    }
  }

  .move-table thead tr th {
    background-color: $white;
    color: $dark;
  }

  // Modals

  .modal-header,
  .modal-body,
  .modal-footer {
    background-color: $white;
    div {
      background-color: $white;
    }
    span,
    h4 {
      color: $dark;
    }

    .close {
      background-color: $white;
      color: $red;
    }
  }
  .modal-body .delete-word {
    color: $red;
    font-weight: bold;
  }
}
