/* You can add global styles to this file, and also import other style files */
// Import Bootstrap
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

@import '../src/dark-theme';
@import '../src/light-theme';
@import '../src/_colors';

html,
body {
  height: 100%;
  padding-top: 19px;
  overflow: hidden;
}

a {
  text-decoration: none;
}
.bg-teaser {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
/* Importing Bootstrap SCSS file. */
/*@import 'bootstrap/scss/bootstrap';*/

/* Importing Bootstrap SCSS file. */
/*@import "./node_modules/bootstrap/scss/bootstrap";*/

/* Importing Datepicker SCSS file. */
/*@import 'node_modules/ngx-bootstrap/datepicker/bs-datepicker';*/

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.btn-dark {
  --bs-btn-bg: Tomato;
  --bs-btn-border-color: #{rgba($white, 0.25)};
  --bs-btn-hover-bg: #{darken(Tomato, 5%)};
  --bs-btn-hover-border-color: #{rgba($white, 0.25)};
  --bs-btn-active-bg: #{darken(Tomato, 10%)};
  --bs-btn-active-border-color: #{rgba($white, 0.5)};
  --bs-btn-focus-border-color: #{rgba($white, 0.5)};
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.2);
}
/*
.btn-outline-secondary{

}
*/
.btn-outline-danger {
  --bs-btn-hover-color: white;
}
